@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Riot&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.counter-main {
    width: fit-content;
    margin: auto;
    text-align: center;
    margin-top: 33px;
    border: 1px solid hsla(0, 0%, 100%, 0.438);
    box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.199);
    border-radius: 7px;
    padding: 33px;
    margin-top: 250px;
}

.decrement-buttons {
    width: 150px;
    height: 43px;
    margin: 12px;
    border: none;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reset-buttons {
    width: 150px;
    height: 43px;
    margin: 12px;
    border: none;
    border-radius: 3px;
    background-color: rgb(255, 27, 11);
    color: white;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.increment-buttons {
    width: 150px;
    height: 43px;
    margin: 12px;
    border: none;
    border-radius: 3px;
    background-color: rgb(36, 150, 1);
    color: white;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.increment-buttons:hover {
    background-color: rgb(31, 129, 2);
    transition: ease-in-out 0.3s;
}

.reset-buttons:hover {
    transition: ease-in-out 0.3s;
    background-color: rgb(230, 29, 15);
}

.decrement-buttons:hover {
    transition: ease-in-out 0.3s;
    background-color: rgba(0, 0, 0, 0.952);
}

.count {
    margin-top: 21px;
    margin-bottom: 21px;
    font-size: 100px;
}

.heading {
    font-size: 32px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: light;
}